body {
        background-color: orange;
        font-family: 'Greenscr', Arial, sans-serif;
        margin: 50px;
}

.container {
        margin-left: 40px;
        margin-top: 40px;
}

@font-face {
font-family: "Greenscr";
src: url("Greenscr.ttf");
  }
