body {
        background-color: 'black';
        font-family: 'Greenscr', sans-serif;
        color: 'green';
}

.container {
        margin-left: 100px;
        margin-top: 100px;
}

@font-face {
font-family: "Greenscr";
src: url("Greenscr.ttf");
  }
