body {
        background-color: orange;
        font-family: 'Greenscr', Arial, sans-serif;
        margin: 50px;
}

.container {
        padding: 40px;
}

@font-face {
font-family: "Greenscr";
src: url("Greenscr.ttf");
  }
